@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: 247 247 247;
    --bg-secondary: 232 232 232;
    --text-primary: 44 44 44;
    --text-secondary: 112 112 112;
    --accent-1: 100 0 100;
    --accent-2: 34 0 99;
    --error: 255 0 0;
    --success: 75 181 67;

    scroll-behavior: smooth;
  }

  .dark {
    --bg-primary: 15 15 15;
    --bg-secondary: 35 35 35;
    --text-primary: 245 245 245;
    --text-secondary: 206 206 206;
    --accent-1: 100 0 100;
    --accent-2: 34 0 99;
    --error: 255 61 61;
    --success: 75 181 67;
  }
}

body {
  @apply bg-bg-primary font-regular text-text-primary;
}

.container {
  @apply mx-auto max-w-[930px] px-[15px];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title font-bold;
}

h1 {
  @apply text-[2.535rem] sm:text-[3.787rem] md:text-[4.209rem];
  line-height: 1.1;
}

h2 {
  @apply text-[2.652rem] sm:text-[2.841rem] md:text-[3.157rem];
}

h3 {
  @apply text-[1.99rem] sm:text-[2.132rem] md:text-[2.369rem];
}

h4 {
  @apply text-[1.5rem] sm:text-[1.6rem] md:text-[1.777rem];
}

h5 {
  font-size: 1.333rem;
}

h3 {
  font-weight: 300;
}

.lead {
  @apply text-text-primary/70 md:text-xl;
}

input,
textarea {
  @apply bg-bg-secondary;
}

.section-title {
  @apply relative text-center;
}

.section-title:after {
  content: "";
  @apply absolute left-[50%] top-full h-[4px] w-[70px] translate-x-[-50%] rounded-xl bg-bg-secondary;
}

.custom-scrollbar {
  @apply scrollbar scrollbar-w-3 scrollbar-thumb-text-primary/70 scrollbar-thumb-rounded-lg scrollbar-track-bg-secondary;
}
